.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  border-radius: 5px;
  background-color: var(--color-secondary-light);
}

.root.loading {
  background-color: var(--color-secondary-light);
}

.loadingText {
  font-size: var(--font-size-xs);
  color: var(--color-text-disabled);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary-light);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-medium);
}
